---
layout: layout.njk
title: Progress
tags: page
date: 2021-01-01
---
<div class="row">
    <h1>Translation progress</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Chapter</th>
            <th scope="col">Translation</th>
            <th scope="col">Translation check</th>
            <th scope="col">Finalization</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Prologue</th>
            <td>100%</td>
            <td>100%</td>
            <td>100%</td>
        </tr>
        <tr>
            <th scope="row">0 - Glass Moon</th>
            <td>100%</td>
            <td>98%</td>
            <td>66%</td>
        </tr>
        <tr>
            <th scope="row">1 - Morning of Homecoming I</th>
            <td>100%</td>
            <td>77%</td>
            <td>55%</td>
        </tr>
        </tbody>
    </table>
</div>
