---
layout: layout.njk
title: Progress
tags: page
date: 2021-01-01
---
<div class="row">
    <h1>Translation progress</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Chapter</th>
            <th scope="col">Translation</th>
            <th scope="col">TL check</th>
            <th scope="col">Finalization</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">0 / Glass Moon</th>
            <td>100%</td>
            <td>100%</td>
            <td>100%</td>
        </tr>
        <tr>
            <th scope="row">Prologue</th>
            <td>100%</td>
            <td>100%</td>
            <td>100%</td>
        </tr>
        <tr>
            <th scope="row">1 / Morning of Homecoming I</th>
            <td>100%</td>
            <td>100%</td>
            <td>100%</td>
        </tr>
        <tr>
            <th scope="row">2 / A Day of Nothing</th>
            <td>100%</td>
            <td>100%</td>
            <td>100%</td>
        </tr>
        <tr>
            <th scope="row">3 / Inversion Impulse</th>
            <td>100%</td>
            <td>33.3%</td>
            <td>4.7%</td>
        </tr>
        <tr>
            <th scope="row">4 / Infernal Sanguine River I</th>
            <td>93.3%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <td colspan="4" class="text-center">
                <b>Arcueid route</b>
            </td>
        </tr>
        <tr>
            <th scope="row">5 / Infernal Sanguine River II</th>
            <td>45.16%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">6 / Cerulean Stigma</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">7 / Eyes of Death Perception I</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">8 / Eyes of Death Perception II</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">9 / Death.</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">10 / Dark, Pallid Moon</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">10 / Vermillion, Crimson Moon I</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">11 / Vermillion, Crimson Moon II</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">12 / Night of Ill-Omen</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">13 / The Lunar World</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">14 / The Moon Princess</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <td colspan="4" class="text-center">
                <b>Ciel route</b>
            </td>
        </tr>
        <tr>
            <th scope="row">5 / Distant Seas, Frozen Soil</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">6 / Vermillion Vestiges I</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">7 / Reverse Hatching I</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">8 / Reverse Hatching II</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">9 / Bow of the Skies I</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">10 / Bow of the Skies II</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">11 / The Aftermath</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">12 / Vermillion Vestiges II</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">13 / Mirage</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">14 / Endless stone</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">15 / Rainbow at Night</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">15 / Daylight Blue</th>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        </tbody>
    </table>
</div>
