---
layout: layout.njk
title: Contributors
tags: page
date: 2021-01-02
---

<div class="row">
    <center>
        <h4>Project Lead</h4>
        <ul class="list-unstyled">
            <li>angespirit</li>
            <li>Hakanaou</li>
        </ul>
    <center>
</div>

<div class="row">
    <div class="col-lg-6">
        <center>
            <h4>Programming</h4>
            <ul class="list-unstyled">
                <li>angespirit</li>
                <li>Hakanaou</li>
                <li>harphield</li>
                <li>rschlaikjer</li>
            </ul>
        </center>
    </div>

    <div class="col-lg-6">
        <center>
            <h4>Translation</h4>
            <ul class="list-unstyled">
                <li>tumbling (Lead translator)</li>
                <li>AlcTeacher</li>
                <li>angespirit</li>
                <li>Backlog Game Reviews</li>
                <li>Epika07</li>
                <li>Hakanaou</li>
                <li>NotWaifu</li>
                <li>rschlaikjer</li>
                <li>takashi</li>
                <li>TheTrueMr_F</li>
                <li>Yusuke</li>
            </ul>
        </center>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <center>
            <h4>Editors</h4>
            <ul class="list-unstyled">
                <li>Hakanaou</li>
                <li>harphield</li>
                <li>MLagaffe</li>
                <li>NotWaifu</li>
                <li>Perplexer</li>
                <li>Rokishi</li>
                <li>VoidZ</li>
            </ul>
        </center>
    </div>

    <div class="col-lg-6">
        <center>
            <h4>Proofreaders</h4>
            <ul class="list-unstyled">
                <li>Alvy</li>
                <li>angespirit</li>
                <li>Irish Hercules</li>
                <li>NotWaifwu</li>
                <li>rschlaikjer</li>
                <li>Volvo Hackangel</li>
            </ul>
        </center>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <center>
            <h4>MTL Corrector</h4>
            <ul class="list-unstyled">
                <li>AlexECunny</li>
                <li>AokoExpress</li>
                <li>BomberHarris</li>
                <li>DT46</li>
                <li>GlowstoneSniper</li>
                <li>Hates</li>
                <li>Irish Hercules</li>
                <li>IvanVladimir</li>
                <li>KakiAlter</li>
                <li>Kyonko Enthusiast</li>
                <li>Markley</li>
                <li>NotWaifwu</li>
                <li>Perplexer</li>
                <li>Ponyzaremanly</li>
                <li>Ringo</li>
                <li>rishukingler11</li>
                <li>Salt Shaker</li>
                <li>Sosa</li>
                <li>Starlink</li>
                <li>TheOtherVoid</li>
                <li>VoidZ</li>
                <li>Volvo Hackangel</li>
            </ul>
        </center>
    </div>

    <div class="col-lg-6">
        <center>
            <h4>Beta Tester</h4>
            <ul class="list-unstyled">
                <li>angespirit</li>
                <li>AokoExpress</li>
                <li>blank</li>
                <li>E-es-chan</li>
                <li>Garcher</li>
                <li>Hates</li>
                <li>IvanVladimir</li>
                <li>jeggo</li>
                <li>KakiAlter</li>
                <li>Kazami</li>
                <li>Korewagabe</li>
                <li>KUCHIKI</li>
                <li>M3gu</li>
                <li>Meridies</li>
                <li>NeosAntrax</li>
                <li>Paradoxircle</li>
                <li>Perplexer</li>
                <li>Ponyzaremanly</li>
                <li>SenseiSabo</li>
                <li>Shinyyjoke</li>
                <li>Sukicchi</li>
                <li>train</li>
                <li>VoidZ</li>
            </ul>
        </center>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <center>
            <h4>Other Language Contributors</h4>
            <ul class="list-unstyled">
                <li>♬ KÚU ✿ SAN ♬</li>
                <li>AzureMoon</li>
                <li>E-es-chan</li>
                <li>Irish Hercules</li>
            </ul>
        </center>
    </div>

    <div class="col-lg-6">
        <center>
            <h4>In-game UI patch and Website by</h4>
            <ul class="list-unstyled">
                <li>harphield</li>
            </ul>
        </center>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <center>
            <h4>In-game Font by</h4>
            <ul class="list-unstyled">
                <li>MLgaffe</li>
            </ul>
        </center>
    </div>

    <div class="col-lg-6">
        <center>
            <h4>Veteran Adventurer</h4>
            <ul class="list-unstyled">
                <li>Fistinguranus</li>
            </ul>
        </center>
    </div>
</div>

</div>
