---
layout: layout.njk
title: Contributors
tags: page
date: 2021-01-02
---
<div class="row">
	<h4>Project Lead</h4>
	<ul class="list-unstyled">
		<li>Hakanaou</li>
		<li>angespirit</li>
	</ul>

	<h4>Programming</h4>
	<ul class="list-unstyled">
		<li>Hakanaou</li>
		<li>rschlaikjer</li>
		<li>angespirit</li>
		<li>harphield</li>
	</ul>

	<h4>Translation</h4>
	<ul class="list-unstyled">
		<li>tumbling (Lead translator)</li>
		<li>rschlaikjer</li>
		<li>Yusuke</li>
		<li>AlcTeacher</li>
		<li>angespirit</li>
	</ul>

	<h4>Editors</h4>
	<ul class="list-unstyled">
		<li>Volvo Hackangel</li>
		<li>NotWaifwu</li>
		<li>Irish Hercules</li>
		<li>IvanVladimir</li>
		<li>Salt Shaker</li>
		<li>VoidZ</li>
	</ul>

	<h4>In-game UI patch and Website by</h4>
	<ul class="list-unstyled">
		<li>harphield</li>
	</ul>
	
	<h4>In-game Font by</h4>
	<ul class="list-unstyled">
		<li>MLgaffe</li>
	</ul>
</div>
