---
layout: layout.njk
title: Contributors
tags: page
date: 2021-01-02
---
<div class="row">
     <pre style = "font-family:Roboto">
Project Lead<br>
    	 
	Hakanaou <br>
	angespirit <br>

Programming <br>
	 
	Hakanaou <br>
	rschlaikjer <br>
	angespirit <br>

Translation <br>
	 
	tumbling (Lead translator) <br>
	rschlaikjer<br>
	Yusuke<br>
	AlcTeacher<br>
	angespirit<br>

Editors<br>
	
	Volvo Hackangel<br>
	NotWaifwu<br>
	Irish Hercules<br>
	IvanVladimir<br>
	Salt Shaker<br>
	VoidZ<br>
	
In-game UI patch and Website by<br>
	
	harphield<br>
	
In-game Font by<br>
	
	MLgaffe<br>
	
</pre>
</div>
