---
layout: layout.njk
title: Welcome
---
<div class="row">
    <h1 class="bd-title mt-0">Open source Tsukihime-Remake translation</h1>
    <p class="bd-lead">
        Why not use the power of the internet? Come and contribute using modern powerful
        <a href="https://github.com/Hakanaou/deepLuna" target="_blank">translation tools</a>!
    </p>
</div>
